//
// Links
//

$link-decoration      : underline;
$link-hover-decoration: underline;

$headings-link-color     : inherit;
$headings-link-decoration: none;

$headings-hover-color: inherit;
$headings-link-hover-decoration: null;
