/* purgecss start ignore */

.header {
  z-index: 1100;

    &__btn-menu {

        &.menu-open {
          @extend .tc-3;

            .lines {
              fill: $color-6;
            }

            &::before,
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              width: 22px;
              height: 2px;
              border-radius: 1px;
              background-color: currentColor;
            }

            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }
        }
    }

    &__menu {

        a {
          @extend .d-b, .py-d-md-10, .tt-u, .fw-b, .fs-16, .tc-h-3;
        }

        > li {

            &.current-menu-item > a {
              @extend .tc-3, .pl-25;
              background: escape-svg('<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.08621 0.538441C6.93448 0.555544 6.62045 0.607889 6.38831 0.654717C6.15621 0.701579 5.75003 0.810786 5.48569 0.897475C5.22134 0.984165 4.77503 1.16817 4.4939 1.30644C4.21279 1.44468 3.81983 1.66596 3.62069 1.7982C3.42155 1.93041 3.13617 2.13617 2.98655 2.25544C2.8369 2.37472 2.59045 2.59065 2.43886 2.73527C2.28724 2.87992 2.03966 3.14568 1.88866 3.32585C1.73766 3.50603 1.48976 3.83899 1.33776 4.06579C1.18579 4.29261 0.947104 4.71158 0.807379 4.99682C0.667621 5.2821 0.484552 5.72499 0.400517 5.98103C0.316448 6.23706 0.20831 6.64051 0.160172 6.87758C0.112034 7.11465 0.0563104 7.4593 0.0363449 7.64348C0.0163449 7.82761 0 8.2123 0 8.49827C0 8.78423 0.0163449 9.16892 0.0363449 9.35306C0.0563104 9.53723 0.111931 9.88189 0.159931 10.119C0.207931 10.356 0.316759 10.7595 0.401759 11.0155C0.486759 11.2715 0.663276 11.703 0.794 11.9742C0.924724 12.2455 1.13517 12.6256 1.26162 12.8191C1.3881 13.0124 1.59376 13.3026 1.71866 13.4638C1.84355 13.625 2.12476 13.9359 2.34355 14.1547C2.56234 14.3735 2.87328 14.6547 3.03448 14.7796C3.19569 14.9045 3.48583 15.1102 3.67921 15.2366C3.87262 15.3631 4.25279 15.5735 4.52403 15.7043C4.79531 15.835 5.22672 16.0115 5.48276 16.0965C5.73879 16.1815 6.14224 16.2903 6.37931 16.3383C6.61638 16.3863 6.96103 16.442 7.14521 16.4619C7.32934 16.4819 7.71403 16.4983 8 16.4983C8.28597 16.4983 8.67066 16.4819 8.85479 16.4619C9.03897 16.4419 9.3821 16.387 9.61731 16.34C9.85248 16.2929 10.2559 16.1843 10.5139 16.0987C10.7718 16.0131 11.2155 15.8293 11.5 15.6902C11.7845 15.5511 12.1802 15.3295 12.3793 15.1976C12.5784 15.0658 12.8578 14.865 13 14.7513C13.1422 14.6376 13.3881 14.4226 13.5463 14.2735C13.7046 14.1243 13.9582 13.854 14.11 13.6727C14.2617 13.4914 14.5102 13.1575 14.6622 12.9308C14.8142 12.7039 15.0524 12.285 15.1917 11.9997C15.3309 11.7144 15.5148 11.27 15.6004 11.0121C15.6861 10.7542 15.7948 10.3508 15.8421 10.1156C15.8894 9.88037 15.9459 9.51603 15.9676 9.30589C15.9893 9.09579 16.0016 8.65127 15.9949 8.3181C15.9839 7.77065 15.9761 7.70496 15.9138 7.63582C15.8759 7.59375 15.811 7.54637 15.7696 7.53054C15.7198 7.51148 15.615 7.52554 15.4593 7.5722C15.3046 7.61851 15.1179 7.64375 14.9138 7.64592C14.7079 7.64813 14.5344 7.62865 14.3983 7.58806C14.2856 7.55441 14.0995 7.47954 13.985 7.42172C13.8638 7.36054 13.6811 7.22103 13.5482 7.08803C13.4152 6.95506 13.2757 6.77244 13.2145 6.65123C13.1567 6.53668 13.082 6.35065 13.0487 6.23785C13.0093 6.10485 12.9871 5.90885 12.9854 5.68027C12.9831 5.37537 12.9734 5.31841 12.9135 5.25854C12.8681 5.21313 12.7494 5.17251 12.5687 5.14054C12.4171 5.11372 12.1867 5.05141 12.0565 5.00203C11.9264 4.95268 11.7145 4.8422 11.5857 4.75654C11.4568 4.67086 11.2663 4.50885 11.1622 4.39648C11.0582 4.28413 10.9164 4.09882 10.8471 3.98468C10.7777 3.87058 10.6839 3.67103 10.6386 3.54127C10.5932 3.41151 10.5382 3.1703 10.5162 3.00527C10.4862 2.77961 10.486 2.63199 10.5155 2.4103C10.5371 2.24817 10.5696 2.07644 10.5877 2.02875C10.6059 1.98106 10.6207 1.89148 10.6207 1.82961C10.6207 1.75751 10.5929 1.69117 10.5431 1.64465C10.4724 1.57858 10.4286 1.57254 10.0517 1.57713C9.74059 1.58089 9.58707 1.56672 9.43283 1.51999C9.32003 1.48585 9.14097 1.4141 9.0349 1.36054C8.92886 1.30703 8.76059 1.18996 8.661 1.10041C8.56141 1.01085 8.43176 0.865889 8.37286 0.778269C8.314 0.690648 8.23317 0.592165 8.19328 0.559372C8.13355 0.510338 8.05355 0.500475 7.74138 0.503544C7.53276 0.505613 7.23793 0.521303 7.08621 0.538441ZM13.0517 0.602338C12.7483 0.655441 12.3927 0.717682 12.2615 0.740648C12.0963 0.769579 11.9983 0.807165 11.9426 0.862924C11.8622 0.943303 11.8621 0.94482 11.8621 1.87758V2.81175L11.9467 2.89637C11.9962 2.94589 12.0714 2.98103 12.1277 2.98103C12.1807 2.98103 12.6034 2.85461 13.067 2.70006C13.6347 2.51082 13.9358 2.39317 13.9894 2.33958C14.0679 2.2611 14.069 2.24937 14.069 1.46379V0.667544L13.9843 0.582924C13.9189 0.517544 13.866 0.499131 13.7516 0.502027C13.6701 0.504096 13.3552 0.549234 13.0517 0.602338ZM4.86472 1.97837C4.92017 2.03382 4.96552 2.11258 4.96552 2.15344C4.96552 2.1943 4.92017 2.27306 4.86472 2.32851C4.80928 2.38396 4.73052 2.4293 4.68966 2.4293C4.64879 2.4293 4.57003 2.38396 4.51459 2.32851C4.45914 2.27306 4.41379 2.1943 4.41379 2.15344C4.41379 2.11258 4.45914 2.03382 4.51459 1.97837C4.57003 1.92292 4.64879 1.87758 4.68966 1.87758C4.73052 1.87758 4.80928 1.92292 4.86472 1.97837ZM3.97414 2.53803C4.00734 2.57727 4.03448 2.65248 4.03448 2.70517C4.03448 2.75785 4.00734 2.83106 3.97414 2.86785C3.94093 2.90461 3.79807 3.02661 3.65662 3.13892C3.51517 3.2512 3.25607 3.48689 3.08086 3.66265C2.90562 3.83837 2.64528 4.13744 2.50231 4.32723C2.35938 4.51699 2.15045 4.82782 2.03803 5.01796C1.92562 5.20806 1.76969 5.51416 1.69155 5.6982C1.61338 5.8822 1.53 6.07154 1.50624 6.11896C1.48245 6.16637 1.41976 6.22596 1.36686 6.25137C1.29107 6.28782 1.25 6.28903 1.17279 6.25706C1.11893 6.23475 1.05586 6.17058 1.03262 6.11444C0.995586 6.02503 1.00228 5.98154 1.08666 5.76396C1.13962 5.6273 1.25821 5.36444 1.35014 5.17982C1.4421 4.9952 1.58155 4.73917 1.66003 4.61085C1.73852 4.48254 1.91186 4.23017 2.04531 4.04999C2.17872 3.86982 2.46683 3.53941 2.68555 3.31575C2.90428 3.0921 3.20534 2.81279 3.35459 2.69506C3.50383 2.57734 3.6519 2.47017 3.68366 2.45685C3.71541 2.44358 3.78017 2.44034 3.82759 2.44972C3.875 2.45906 3.94093 2.49882 3.97414 2.53803ZM12.2226 3.61741C12.1692 3.67075 12.1379 3.74144 12.1379 3.80861C12.1379 3.87579 12.1692 3.94648 12.2226 3.99982C12.2759 4.0532 12.3466 4.08448 12.4138 4.08448C12.481 4.08448 12.5517 4.0532 12.605 3.99982C12.6584 3.94648 12.6897 3.87579 12.6897 3.80861C12.6897 3.74144 12.6584 3.67075 12.605 3.61741C12.5517 3.56403 12.481 3.53275 12.4138 3.53275C12.3466 3.53275 12.2759 3.56403 12.2226 3.61741ZM14.1476 4.1631C13.5957 4.71496 13.5172 4.80703 13.5172 4.90254C13.5172 4.96772 13.5485 5.04568 13.5948 5.0961C13.6375 5.14254 14.1135 5.43048 14.6526 5.73596C15.2895 6.09685 15.6674 6.29137 15.7318 6.29137C15.7909 6.29137 15.8648 6.25727 15.9153 6.20672L16 6.1221V5.04999V3.97789L15.9204 3.8983C15.8731 3.85099 15.667 3.76082 15.4118 3.67575C15.1758 3.5971 14.9366 3.53275 14.8803 3.53275C14.7935 3.53275 14.6819 3.62875 14.1476 4.1631ZM8.10341 3.71685C8.18903 3.75799 8.29479 3.84544 8.33948 3.91206C8.41079 4.01837 8.41859 4.06275 8.40497 4.28427C8.39248 4.48717 8.36497 4.58386 8.26272 4.78427C8.193 4.92092 8.05441 5.13337 7.95476 5.25634C7.85507 5.3793 7.68259 5.55316 7.57141 5.64272C7.46024 5.73227 7.29897 5.82951 7.213 5.85879C7.12703 5.8881 6.989 5.91206 6.90628 5.91206C6.82355 5.91206 6.69724 5.88216 6.62559 5.84558C6.55393 5.80903 6.43641 5.71396 6.36445 5.6343C6.29248 5.55465 6.20165 5.41775 6.16259 5.33006C6.11128 5.21485 6.09148 5.09789 6.09117 4.90816C6.09083 4.69244 6.10735 4.61172 6.18372 4.45558C6.23486 4.35106 6.35214 4.19499 6.44434 4.10875C6.53652 4.02251 6.70314 3.9063 6.81462 3.85054C6.92607 3.79475 7.07779 3.72951 7.15179 3.70551C7.22579 3.68151 7.36545 3.6501 7.46214 3.63575C7.55883 3.62137 7.70776 3.61696 7.7931 3.62596C7.87845 3.63496 8.01807 3.67589 8.10341 3.71685ZM3.76128 5.56458C3.81672 5.62003 3.86207 5.69879 3.86207 5.73965C3.86207 5.78051 3.81672 5.85927 3.76128 5.91472C3.70583 5.97016 3.62707 6.01551 3.58621 6.01551C3.54534 6.01551 3.46659 5.97016 3.41114 5.91472C3.35569 5.85927 3.31034 5.78051 3.31034 5.73965C3.31034 5.69879 3.35569 5.62003 3.41114 5.56458C3.46659 5.50913 3.54534 5.46379 3.58621 5.46379C3.62707 5.46379 3.70583 5.50913 3.76128 5.56458ZM9.00266 7.49561C9.0581 7.55106 9.10345 7.62982 9.10345 7.67068C9.10345 7.71154 9.0581 7.7903 9.00266 7.84575C8.94721 7.9012 8.86845 7.94654 8.82759 7.94654C8.78672 7.94654 8.70797 7.9012 8.65252 7.84575C8.59707 7.7903 8.55172 7.71154 8.55172 7.67068C8.55172 7.62982 8.59707 7.55106 8.65252 7.49561C8.70797 7.44017 8.78672 7.39482 8.82759 7.39482C8.86845 7.39482 8.94721 7.44017 9.00266 7.49561ZM11.7613 7.49561C11.8167 7.55106 11.8621 7.62982 11.8621 7.67068C11.8621 7.71154 11.8167 7.7903 11.7613 7.84575C11.7058 7.9012 11.6271 7.94654 11.5862 7.94654C11.5453 7.94654 11.4666 7.9012 11.4111 7.84575C11.3557 7.7903 11.3103 7.71154 11.3103 7.67068C11.3103 7.62982 11.3557 7.55106 11.4111 7.49561C11.4666 7.44017 11.5453 7.39482 11.5862 7.39482C11.6271 7.39482 11.7058 7.44017 11.7613 7.49561ZM4.02331 7.77399C4.10248 7.80861 4.23797 7.9021 4.32431 7.98168C4.41069 8.0613 4.52331 8.21223 4.57462 8.31706C4.65131 8.47382 4.66779 8.55434 4.66745 8.77023C4.66714 8.96092 4.64738 9.07685 4.59521 9.19399C4.55572 9.28265 4.45824 9.42589 4.37866 9.51223C4.29903 9.59861 4.1481 9.71123 4.04328 9.76254C3.88614 9.83941 3.80579 9.85579 3.58621 9.85579C3.36662 9.85579 3.28628 9.83941 3.12914 9.76254C3.02431 9.71123 2.87338 9.59861 2.79376 9.51223C2.71417 9.42589 2.61669 9.28265 2.57721 9.19399C2.52514 9.07713 2.50538 8.96158 2.50538 8.77413C2.50538 8.58761 2.52517 8.47106 2.57638 8.35613C2.61545 8.26844 2.70603 8.13182 2.77772 8.05248C2.84938 7.97317 2.97366 7.86979 3.0539 7.82275C3.13414 7.77575 3.26731 7.72334 3.3499 7.70634C3.43245 7.6893 3.58534 7.68341 3.68966 7.6932C3.79397 7.70303 3.9441 7.73937 4.02331 7.77399ZM11.4697 9.42834C11.5479 9.46254 11.6768 9.54913 11.7561 9.62082C11.8354 9.69248 11.9384 9.81599 11.9849 9.8953C12.0313 9.97461 12.0855 10.1269 12.1053 10.2338C12.1309 10.3722 12.13 10.4901 12.1023 10.6442C12.081 10.7631 12.0187 10.9545 11.964 11.0696C11.9093 11.1847 11.8035 11.3482 11.729 11.4329C11.6544 11.5175 11.5113 11.6315 11.4108 11.6862C11.2687 11.7636 11.1835 11.7856 11.0268 11.7856C10.8597 11.7856 10.8012 11.7685 10.6835 11.6851C10.6055 11.6298 10.498 11.5068 10.4447 11.4119C10.3914 11.317 10.3211 11.1385 10.2886 11.0154C10.2504 10.8705 10.2298 10.6635 10.2302 10.4293C10.2308 10.1744 10.2489 10.0162 10.2914 9.89482C10.3247 9.79999 10.3899 9.67196 10.4364 9.6103C10.4828 9.54865 10.5704 9.47234 10.6311 9.44075C10.6918 9.40913 10.7879 9.3713 10.8448 9.35665C10.9017 9.34203 11.0336 9.33817 11.1379 9.34813C11.2422 9.35806 11.3916 9.39417 11.4697 9.42834ZM7.34748 9.70251C7.40293 9.75796 7.44828 9.83672 7.44828 9.87758C7.44828 9.91844 7.40293 9.9972 7.34748 10.0526C7.29203 10.1081 7.21328 10.1534 7.17241 10.1534C7.13155 10.1534 7.05279 10.1081 6.99734 10.0526C6.9419 9.9972 6.89655 9.91844 6.89655 9.87758C6.89655 9.83672 6.9419 9.75796 6.99734 9.70251C7.05279 9.64706 7.13155 9.60172 7.17241 9.60172C7.21328 9.60172 7.29203 9.64706 7.34748 9.70251ZM4.313 12.4611C4.36845 12.5166 4.41379 12.5953 4.41379 12.6362C4.41379 12.6771 4.36845 12.7558 4.313 12.8113C4.25755 12.8667 4.17879 12.9121 4.13793 12.9121C4.09707 12.9121 4.01831 12.8667 3.96286 12.8113C3.90741 12.7558 3.86207 12.6771 3.86207 12.6362C3.86207 12.5953 3.90741 12.5166 3.96286 12.4611C4.01831 12.4057 4.09707 12.3603 4.13793 12.3603C4.17879 12.3603 4.25755 12.4057 4.313 12.4611ZM7.27555 12.4745C7.36072 12.5181 7.47979 12.6185 7.54014 12.6976C7.60193 12.7786 7.66793 12.9221 7.69117 13.0261C7.72628 13.183 7.72362 13.241 7.67334 13.4139C7.63055 13.5612 7.57452 13.657 7.47007 13.7614C7.36541 13.8661 7.26986 13.9219 7.12179 13.965C6.95131 14.0145 6.88948 14.0178 6.74628 13.9847C6.65197 13.9629 6.52159 13.9122 6.45652 13.872C6.39145 13.8318 6.29403 13.7379 6.24 13.6633C6.18597 13.5887 6.12348 13.4461 6.10117 13.3465C6.06714 13.1942 6.06986 13.1336 6.11824 12.9671C6.16024 12.8226 6.21676 12.728 6.32655 12.6182C6.42207 12.5226 6.53824 12.4481 6.64379 12.4145C6.74148 12.3835 6.87448 12.3685 6.96552 12.3784C7.05086 12.3876 7.19038 12.4309 7.27555 12.4745ZM10.9337 13.2887C10.9891 13.3442 11.0345 13.4229 11.0345 13.4638C11.0345 13.5046 10.9891 13.5834 10.9337 13.6389C10.8782 13.6943 10.7995 13.7396 10.7586 13.7396C10.7178 13.7396 10.639 13.6943 10.5836 13.6389C10.5281 13.5834 10.4828 13.5046 10.4828 13.4638C10.4828 13.4229 10.5281 13.3442 10.5836 13.2887C10.639 13.2333 10.7178 13.1879 10.7586 13.1879C10.7995 13.1879 10.8782 13.2333 10.9337 13.2887Z" fill="#DB9B5E"/></svg>') no-repeat left center;
            }

            &.menu-item-has-children {
              @extend .ps-r, .d-f, .f-d-md-w, .jc-sb, .ai-c, .gx-10;

                > a {
                  order: 1;
                }

                &::after {
                  content: '';
                  width: 10px;
                  height: 10px;
                  order: 2;
                  margin-bottom: 6px;
                  border-right: 2px solid currentColor;
                  border-bottom: 2px solid currentColor;
                  transform: rotate(45deg);
                }

                &.open:after {
                  transform: rotate(-135deg);
                }
            }

            @include media-breakpoint-up(lg) {

                &:hover {

                    > .sub-menu {
                      display: block
                    }
                }
            }

            @include media-breakpoint-down(md) {

                &.open {

                    > .sub-menu {
                      display: block;
                    }
                }
            }
        }

        .sub-menu {
          @extend .d-n, .ps-u-lg-a, .p-u-lg-15, .pl-d-md-20, .bg-u-lg-6, .br-b-10;

            @include media-breakpoint-up(lg) {
              top: 100%;
              left: -15px;
              min-width: 250px;
            }

            @include media-breakpoint-down(md) {
              width: 100%;
              flex: 0 0 100%;
              order: 3;
            }

            li {
              @extend .pt-u-lg-15;

                &:not(:first-child) {
                  @extend .mt-u-lg-15;
                  border-top: 1px solid currentColor;
                }
            }
        }
    }

    &__menu-wrap {

        @include media-breakpoint-down(md) {
          top: 100%;
          width: 420px;
          max-width: calc(100vw - $gutter);
          background-color: inherit;

            .menu-open & {
              display: block;
            }
        }

        @include media-breakpoint-only(md) {
          max-height: calc(100vh - 160px);
        }

        @include media-breakpoint-only(sm) {
          max-height: calc(100vh - 150px);
        }

        @include media-breakpoint-down(xs) {
          max-height: calc(100vh - 140px);
        }
    }

    &__btn-dd {

        &.active {
          @extend .tc-3;

            .lines {
              fill: $color-6;
            }

            &::before,
            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              width: 22px;
              height: 2px;
              border-radius: 1px;
              background-color: currentColor;
            }

            &::before {
              transform: rotate(45deg);
            }

            &::after {
              transform: rotate(-45deg);
            }
        }
    }

    &__dropdown {
      @extend .mt-40;
      width: 420px;
      left: -20px;

        .active > & {
          display: block;
        }

        &::before {
          content: '';
          position: absolute;
          top: -10px;
          left: 30px;
          width: 20px;
          height: 20px;
          border-radius: 4px;
          background-color: $color-4;
          transform: rotate(45deg);
          transform-origin: center;
        }

        strong {
          @extend .ff-h, .tt-u, .tc-b;
          font-size: map-get($heading-desktop, h4);
        }
    }

    &__cart {

        &__mini {
          width: 300px;

            @include media-breakpoint-up(sm) {
              right: -20px;
            }

            @include media-breakpoint-down(xs) {
              right: -10px;
            }

            &::before {
              content: '';
              position: absolute;
              top: -6px;
              width: 15px;
              height: 15px;
              border-radius: 2px;
              background-color: $color-6;
              transform: rotate(45deg);
              transform-origin: center;

                @include media-breakpoint-up(sm) {
                  right: 35px;
                }

                @include media-breakpoint-down(xs) {
                  right: 25px;
                }
            }

            &::after {
              content: '';
              position: absolute;
              bottom: 100%;
              right: 0;
              left: 0;
              height: 35px;
            }

            .cart-open & {
              display: block;
            }
        }
    }
}

/* purgecss end ignore */

